{
	"sTitle": "Plataforma SasWeb",
	"sMongoDBHost": "mngdbsascloud.sasweb-fleet.net",
	"sMongoDBCollection": "murilo.posicao",
	"sServiceURL": "https://maps.google.com/maps/api/geocode/json?latlng=%lf,%lf&sensor=false&key=%s",
	"sServiceKeyBackup": "AIzaSyC-qbPlZk-Xf9qtJbV131YLOXjmjOpeG9o",
	"sServiceKey": "AIzaSyDy4WIhj3zs5tkCSs8nxe14pdrUXIHFcmw",
	"iServiceTimeOut": "5",
	"iSleepProcessInterval": "10",
	"iQueryLimit": "500"
}

