{
	"sTitle": "Plataforma SasWeb",
	"sMongoDBHost": "mngdbsascloud.sasweb-fleet.net",
	"sMongoDBCollection": "plataforma_sasweb.posicao",
	"sServiceURL": "https://maps.google.com/maps/api/geocode/json?latlng=%lf,%lf&sensor=false&key=%s",
	"sServiceKey": "AIzaSyC-qbPlZk-Xf9qtJbV131YLOXjmjOpeG9o",
	"iServiceTimeOut": "5",
	"iSleepProcessInterval": "10"
}

